/.vscode
/black_scholes_greeks.py
/Planilha CVC v2.01 (1).xlsm
/Planilha CVC v2.01 Original (Desprotegida).xlsm
/Planilha CVC v2.01 Original RENATO.xlsm
/Planilha CVC v2.01 Original.xlsm
/Planilha CVC.xlsm